server:
  port: 8084

spring:
  application:
    name: core-service
  datasource:
    url: jdbc:postgresql://localhost:5432/cptracker
    username: cptracker
    password: cptracker123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

# SpringDoc OpenAPI
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
