server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/cptracker
    username: cptracker
    password: cptracker123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

jwt:
  secret: cp-tracker-jwt-secret-key-2025-very-long-string
  expiration: 86400000
